@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0906;
  color: #fffbeb;
}

/* Custom utility for 3D perspective */
.perspective-1000 {
  perspective: 1000px;
}